build/
build/*
.idea/*
.gradle/*



.gradle
/project/
/build/
bin/
## Ignore Wrapper Jar for now
/env
bin/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/


**/*.class
